export APPLE_ID=your-email@...
export APPLE_ID_PASSWORD=get one from your apple account
export APPLE_TEAM_ID=as listed on developer details

// Can check like this
printenv | grep APPLE

// Build, sign, notarize
npm run pack-mac

// Check notarization:
spctl -a -vvv -t install site_dock.app

