body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
    font-family: "ns";
}

h1 {
    color: #1d66cd;
    line-height: 1;
}

.page {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    padding: 10px;
    row-gap: 10px;
    grid-template-rows: max-content auto max-content;
    background-color: #ffffff;
}

.hidden {
    display: none;
}

.settings {
    display: grid;
    grid-template-columns: max-content auto;
    grid-auto-rows: max-content;
    gap: 4px;
}

.info:hover {
    background-color: #97c2ff;
}

.delete {
    color: red;
}

.delete:hover {
    background-color: #97c2ff;
}

.entry-options {
    visibility: hidden;
    display: flex;
    gap: 10px;
}

.entry-options>* {
    padding: 0px 4px;
    border-radius: 3px;
}

.site-list-entry {
    cursor: pointer;
    padding: 4px 4px 4px 8px;
    border-radius: 4px;
    background-color: #c8dfff;
    display: grid;
    grid-template-columns: auto max-content;
    column-gap: 10px;
}

.site-list-entry:hover {
    background-color: #b0d1ff;
}

.site-list-entry:hover .entry-options {
    visibility: visible;
}

.site-list {
    display: flex;
    flex-direction: column;
    gap: 8px;
    overflow: auto;
}

.app-button {
    cursor: pointer;
    font-size: 18px;
    padding: 4px;
    background-color: #97c2ff;
    border: none;
    border-radius: 4px;
}

.app-button:hover {
    background-color: #83b7ff;
}

.button-bar {
    display: flex;
    gap: 10px;
    justify-content: stretch;
}

.button-bar>* {
    flex: 1;
}

.text-button {
    user-select: none;
    cursor: pointer;
    color: #1d66cd;
    padding: 6px 10px;
    border-radius: 3px;
}

.text-button:hover {
    background-color: #e0ecfd;
}