body {
    padding: 0px;
    margin: 0px;
    height: 100vh;
    overflow: hidden;
    font-family: "ns";
}

.page {
    box-sizing: border-box;
    height: 100%;
    display: grid;
    padding: 10px;
    grid-template-rows: max-content auto max-content;
}

.hidden {
    display: none;
}

.settings {
    display: grid;
    grid-template-columns: max-content auto;
    grid-auto-rows: max-content;
    gap: 4px;
}

.site-list-entry {
    cursor: pointer;
    padding: 4px;
    border-radius: 4px;
    background-color: #eeeeee;
    display: grid;
    grid-template-columns: auto 40px;
    column-gap: 4px;
}

.site-list {
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: auto;
}

.wide-button {
    font-size: 18px;
    padding: 4px;
}

.button-bar {
    display: flex;
    gap: 10px;
    justify-content: stretch;
}

.button-bar>* {
    flex: 1;
}